# Pre-processing the dataset:

Handling null values, deletion or transformation of irrelevant values, data type transformation, removing duplicates and data validations.

### Importing Libraries and Datasets

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('Uncleaned_employees_final_dataset.csv')
data

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met_more_than_80,awards_won,avg_training_score
0,8724,Technology,region_26,Bachelors,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelors,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelors,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelors,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelors,m,sourcing,1,30,4.0,7,0,0,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17412,64573,Technology,region_7,Bachelors,f,referred,2,30,5.0,6,1,0,81
17413,49584,HR,region_7,Bachelors,m,other,1,33,1.0,9,0,0,51
17414,49584,HR,region_7,Bachelors,m,other,1,33,1.0,9,0,0,51
17415,49584,HR,region_7,Bachelors,m,other,1,33,1.0,9,0,0,51
17416,64573,HR,region_7,Bachelors,f,referred,1,35,5.0,4,1,0,81

## Removing duplicate rows

In [5]:
data.duplicated().sum()

2

In [6]:
data.drop_duplicates(inplace = True)

In [7]:
data.duplicated().sum()

0

## Checking the datatype of the columns

In [8]:
data.dtypes

employee_id                int64
department                object
region                    object
education                 object
gender                    object
recruitment_channel       object
no_of_trainings            int64
age                        int64
previous_year_rating     float64
length_of_service          int64
KPIs_met_more_than_80      int64
awards_won                 int64
avg_training_score         int64
dtype: object

## Removing rows for which numeric columns are having irrelevant data type values

In [9]:
data.iloc[:,[0,6,7,8,9,10,11,12]] = data.iloc[:,[0,6,7,8,9,10,11,12]].apply(pd.to_numeric, errors='coerce')

In [10]:
data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met_more_than_80,awards_won,avg_training_score
0,8724,Technology,region_26,Bachelors,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelors,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelors,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelors,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelors,m,sourcing,1,30,4.0,7,0,0,61

## Droping the null Values

In [12]:
data.isnull().sum()

employee_id                 0
department                  0
region                      0
education                 771
gender                      0
recruitment_channel         0
no_of_trainings             0
age                         0
previous_year_rating     1363
length_of_service           0
KPIs_met_more_than_80       0
awards_won                  0
avg_training_score          0
dtype: int64

In [13]:
data = data.dropna()

In [14]:
data.isnull().sum()

employee_id              0
department               0
region                   0
education                0
gender                   0
recruitment_channel      0
no_of_trainings          0
age                      0
previous_year_rating     0
length_of_service        0
KPIs_met_more_than_80    0
awards_won               0
avg_training_score       0
dtype: int64

### Remove irrelevant values from each column if any. 
Validation of all values for a column
Check for any inconsistencies or discrepancies in data types, units, or formats.
Feel free to add more validation checks which you might feel necessary for the datasetâ€™s integrity

In [15]:
data.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met_more_than_80', 'awards_won',
       'avg_training_score'],
      dtype='object')

In [16]:
data['previous_year_rating'] = data['previous_year_rating'].astype(int)

C:\Users\Its Nomy\AppData\Local\Temp\ipykernel_11928\1580165828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['previous_year_rating'] = data['previous_year_rating'].astype(int)

In [17]:
data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met_more_than_80,awards_won,avg_training_score
1,74430,HR,region_4,Bachelors,f,other,1,31,3,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelors,m,other,1,31,1,4,0,0,47
3,38562,Procurement,region_2,Bachelors,f,other,3,31,2,9,0,0,65
4,64486,Finance,region_29,Bachelors,m,sourcing,1,30,4,7,0,0,61
5,46232,Procurement,region_7,Bachelors,m,sourcing,1,36,3,2,0,0,68

In [18]:
data['employee_id'].duplicated().sum()

1

In [19]:
data['employee_id'] = data['employee_id'].drop_duplicates()

C:\Users\Its Nomy\AppData\Local\Temp\ipykernel_11928\1437722944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['employee_id'] = data['employee_id'].drop_duplicates()

In [20]:
data['employee_id'].duplicated().sum()

0

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15422 entries, 1 to 17416
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   employee_id            15421 non-null  float64
 1   department             15422 non-null  object
 2   region                 15422 non-null  object
 3   education              15422 non-null  object
 4   gender                 15422 non-null  object
 5   recruitment_channel    15422 non-null  object
 6   no_of_trainings        15422 non-null  int64
 7   age                    15422 non-null  int64
 8   previous_year_rating   15422 non-null  int32
 9   length_of_service      15422 non-null  int64
 10  KPIs_met_more_than_80  15422 non-null  int64
 11  awards_won             15422 non-null  int64
 12  avg_training_score     15422 non-null  int64
dtypes: float64(1), int32(1), int64(6), object(5)
memory usage: 1.6+ MB

In [21]:
data.isnull().sum()

employee_id              1
department               0
region                   0
education                0
gender                   0
recruitment_channel      0
no_of_trainings          0
age                      0
previous_year_rating     0
length_of_service        0
KPIs_met_more_than_80    0
awards_won               0
avg_training_score       0
dtype: int64

In [90]:
data = data.dropna()

In [91]:
data.isnull().sum()

employee_id              0
department               0
region                   0
education                0
gender                   0
recruitment_channel      0
no_of_trainings          0
age                      0
previous_year_rating     0
length_of_service        0
KPIs_met_more_than_80    0
awards_won               0
avg_training_score       0
dtype: int64

## Export the cleaned dataset as a .csv file: prefer UTF-8 encoding.

In [87]:
data.to_csv('cleaned_data.csv', encoding='utf-8', index=False)